@media (max-width: 992px) {
  .list-nav {
    display: none;
  }
  .bottom-footer > div {
    width: 50%;
    text-align: center;
  }
  .footer-form {
    width: 50%;
  }
  .main-banner h1 {
    font-size: 2.1em !important;
    text-align: center !important;
    padding: 0 10px !important;
  }
  .main-banner h2 {
    font-size: 1.2em;
  }
  .banner-btns button {
    padding: 13px 20px;
  }
  .bar-btn {
    display: block;
  }
  .product-page-bannner {
    height: 100vh !important;
  }
}
@media (max-width: 768px) {
  .bottom-footer > div {
    width: 100%;
    text-align: center;
  }
  .footer-form {
    width: 80%;
  }

  .title-cards-above {
    font-size: 0.9em;
    margin: 0 10px;
  }
  .product,
  .card,
  .service {
    margin: 20px auto !important;
    width: 70%;
  }
  .product-body-top {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .product-main-body,
  .product-detail-body {
    width: 81%;
  }
  #cart {
    width: 96%;
    margin: 0 auto;
  }
  .payment-btn button {
    margin: 20px 0 50px 10px;
  }
  .final-info-cart {
    width: 50% !important;
    margin-left: 8px !important;
  }
  .form-signup {
    width: 70% !important;
  }
}
@media (max-width: 576px) {
  .footer-detail-img {
    width: 100%;
    text-align: center;
  }
  .social-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .top-footer h2 {
    font-size: 1.2em !important;
    padding: 0 20px !important;
  }
  .main-banner .banner-btns button {
    width: 37% !important;
}
}
